*.pprof
immich-go.test
immich-go
.vscode/launch.json
.vscode/settings.json
immich-go
immich-go-mod
build_all_platforms.ps1

!readme.md

dist/
*.txt
*.log
poc/
__debug_*.*
*.exe
archive.tar
*.out
*.test
.env
*.env
test-config.yaml
__debug_*
